node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno y credenciales sensibles
.env
*.env
firebase-adminsdk.json
backend/firebase-adminsdk.json

# Directorios de compilación o temporales
dist/
build/
.DS_Store

# Logs de Laravel y Node
storage/*.key
storage/logs/*.log
*.sqlite